body {
  font-family: "Noto Sans KR", Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f4f4f9;
  color: #333;
}
header {
  background: url("florian-olivo-4hbJ-eymZ1o-unsplash.jpg");
  background-size: cover;
  background-position: center;
  color: rgb(255, 255, 255);
  padding: 2rem 0;
  text-align: center;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
  position: relative;
  z-index: 1;
  height: 150px;
  width: 100%;
}
header h1 {
  font-size: 2.5rem;
  font-weight: bold;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
  margin: 0;
}
header p {
  font-size: 1.2rem;
  margin-top: 0.5rem;
  text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.5);
}
nav {
  background-color: #333;
  overflow: hidden;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}
nav a {
  float: left;
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  transition: background-color 0.3s, color 0.3s;
}
nav a:hover {
  background-color: #4c80c5;
  color: white;
}
main {
  padding: 20px;
}
section {
  margin-bottom: 40px;
  padding: 20px;
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s, box-shadow 0.3s;
}
.text-wrapper {
  display: flex;
  height: 300px;
}

section:hover {
  transform: translateY(-5px);
  box-shadow: 0 6px 10px rgba(0, 0, 0, 0.15);
}
section h2 {
  color: #564caf;
  border-bottom: 2px solid #564caf;
  padding-bottom: 5px;
  margin-bottom: 15px;
}
section p {
  line-height: 1.8;
}
footer {
  background-color: #333;
  color: white;
  text-align: center;
  padding: 10px 0;
  position: fixed;
  bottom: 0;
  width: 100%;
  box-shadow: 0 -2px 4px rgba(0, 0, 0, 0.1);
}
footer a {
  color: #b7afff;
  text-decoration: none;
  font-weight: bold;
}
footer a:hover {
  text-decoration: underline;
}
